@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="jumbotron text-center">
        <div class="container">
            
            <p class="lead">Se ha utilizado Identity para gestionar el login de usuarios.</p>
            <p class="lead">Las rutas de acceso a las tareas están protegidas para usuarios autenticados.</p>
            <p class="lead">Backend: ASP.NET Framework</p>
            <p class="lead">FrontEnd: Blazor Pages cshtml</p>
        </div>
    </section>
</main>
